* {
   padding: 0;
   border: 0;
   /* background-color: black; */
   /* color: white; */
 }
 
 .head nav ul {
   text-align: center;
   padding: 2px;
 }
 
 .head nav ul li {
   display: inline-block;
   padding: 20px;
 }
 
 .head nav ul li a {
   text-decoration: none;
   color: rgb(0, 0, 0);
   font-weight: bold;
   font-size: 20px;
 }
 
.k {
    font-size: 100px;
    text-align: left;
    text-align: center;
    padding-top: 60px;
    padding-left: 10px;
    
 }
 .k button {
   padding:12px;
   font-size: 19px;
   border-radius: 50px;
   margin: 3px;
   font-weight: 20px;
 }
 ul li{
   text-align: center;
   font-size: 30px;
}
#about{
   padding-left: 3000px;
   padding-right: 1000px;


}
.main {
   display: flex;
   flex-direction: row;
   align-items: center;
   padding: 50px;
   text-align: center;
 }
 
 .main{
   /* background-color: red; */
   width: 80vw;
   padding: 23px;
 }
 .container{
   display: flex;
   background-color: rgb(0, 0, 0);
 }
 .infocontainer{
   /* background-color: pink; */
   height: 420px;
   width: 60vw;
 align-items: center;
 margin-left: 164px;
   display: flex;
   justify-content: end;
 }
 .devpic img{
   width: 305px;
   height: 388px;
   border-radius: 47px;
   padding-left: 10px;
 }
 .devinfo{
   display:flex;
   justify-content:center ;
   flex-direction:column;
   font-size: 35px;
 } 
 .buttons{
   margin-top: 8px;
   margin-left: -20px;
 }
 .buttons button{
   padding:9px  12px;
   border-radius: 50px;
   font-size: 17px;
   font-weight: bold;
   margin: 10px;
   color: rgb(0, 0, 0);
   background-color: rgb(250, 242, 98);
 }
 .buttons button:hover{
   background-color: rgb(250, 242, 98);
   color: rgb(0, 0, 0);
 }
 .contactform{
   padding:0 34px;
   padding-top: 32px;
   font-family: Arial, Helvetica, sans-serif;
 }
 /* .kamaly{
 background-color: rgb(185, 255, 255);
 } */
 .contactform h1{
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   text-align: center;
 }
 .contactform form div{
   padding: 18px 11px;
 }
 #emailHelp{
   font-size: small;
   color: rgb(0, 0, 0);
   margin: 0 5px;
 }
 .contactform form div input{
   width: 16vw;
   border-radius: 5px;
   margin: 6px 0;
   padding: 3px;
   border-color: #000000;
   border-width: 2px;
   background-color: rgb(0, 0, 0); /* Set the background color to white */
   color:rgb(255, 255, 255);
   font-weight: bold;
 }
 .form-check-label{
   flex-direction: row;
 }
 .form-check input{
   width: 15px;
 }
 #form.form-check-input{
   width: 15px;
 }
 .f1 button{
   font-size: large;
   width: 93px;
   border-radius: 7px;
  color: rgb(255, 255, 255);
   background-color: rgb(0, 0, 0);
 }
 .f2 button{
   font-size: large;
   width: 93px;
   border-radius: 7px;
   color: rgb(253, 253, 253);
   background-color: rgb(0, 0, 0);
 }
 .f1 button:hover{
   background-color: white;
   color:  rgb(0, 0, 0); 
 }
 .f2 button:hover{
   background-color: rgb(0, 0, 0);
   color: rgb(255, 255, 255);  
 }
 